/*HACER ROOT CON VARIABLES*/

body {
    margin: 0;
    padding: 0;
    background-color: lavender;
    color: #333;
    width: 100%;
}

main {
    padding: 2em;
    background-color: lavender;
}

.flecha_atras {
    position: relative;
    top: 95px; 
    margin-left: 35px;
    background-color: lavender;
}

h1 {
    color: #343a40;
    margin-left: 65px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.detalle-receta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.detalle-receta img {
    width: 50%;
    border-radius: 8px;
    margin-right: 20px;
}

.info-receta {
    max-width: 50%;
}

.info-receta p {
    color: #666;
    margin-bottom: 12px;
}

.boton-editar {
    background-color: rgb(142, 186, 124);
    margin-right: 10px;
}

.boton-volver {
    background-color: rgb(128, 128, 201);
}

.botones {
    display: flex;
    justify-content: center;
    padding-top: 20px;

}


.botones a {
    transition: background-color 0.3s;
}

.boton-editar, .boton-volver {
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: aliceblue;
}

.boton-volver:hover {
    background-color:  rgb(54, 54, 129);
}

.boton-editar:hover{
	background-color: #218838;;
}


.pasos-receta,
.cantidades-receta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.pasos-receta h2,
.cantidades-receta h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.pasos-receta ul,
.cantidades-receta ul  {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

.paso-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
}

.paso-item::before {
    content: attr(data-step);
    background-color: rgb(88, 167, 120);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    position: absolute;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
}