:root{
	--fuenteSans:"Arial";
	
}


*{
	margin: 0;
	padding: 0;
	font-family: var(--fuenteSans);
}


.cabecera {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(154, 179, 121);
    /*background-color: rgb(120, 180, 176);*/
    justify-content: space-between; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#foto_menu {
    flex: 0 0 auto; 
    width: 60px;
}

nav {
    flex: 1 1 auto; 
    padding: 0;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 40px;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 35px;
}

nav ul li a:hover {
    text-decoration: underline;
}