:root {
	--colorGuardar: rgb(142, 186, 124);
	--hoverGuardar: #218838;
	--colorBorrar: rgb(186, 124, 124);
	--hoverBorrar: #882121;
	--colorh1:#343a40;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(images/fondo_formulario.jpg);
	background-size: cover;
	/* Para que la imagen cubra todo el fondo */
	background-attachment: fixed;
	/* Para que la imagen esté fijada */
	background-repeat: no-repeat;
	/* Para que la imagen no se repita */
	background-position: center;
	/* Para centrar la imagen */
	display: none;
}


main {
	max-width: 500px;
	border: 1px solid #ccc;
	height: auto;
	margin: 32px auto;
	padding: 32px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

}

h1 {
	color: var(--colorh1);
	font-size: 40px;
	margin-left: 90px;
	margin-bottom: 30px;
	margin-top: 30px;
}

/*formulario*/

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	font-weight: bold;
	align-self: flex-start;
	font-size: 18px;
	margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
	margin-bottom: 16px;
	padding: 8px;
	border: 1px solid #ced4da;
	border-radius: 4px;
	font-size: 18px;
	width: 100%;
	height: 70px;

}

textarea {
    padding-top: 20px;
	height: 70px;
}

input[type="submit"] {
	background-color: var(--colorGuardar);
	color: aliceblue;
	padding: 10px;
	border: none;
	border-radius: 8px;
	font-size: 22px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
}

input[type="submit"]:hover {
	background-color: var(--hoverGuardar);
}

button {
	background-color: var(--colorBorrar);
	color: aliceblue;
	padding: 10px;
	border: none;
	border-radius: 8px;
	font-size: 22px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	margin-top: 10px;
}

button:hover {
	background-color: var(--hoverBorrar);
}


/*Loader*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #010008;
}

.loader {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: rgb(0, 0, 0);
	position: absolute;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loader .egg {
	height: 300px;
	width: 230px;
	background-color: #ffffff;
	position: relative;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	box-shadow: 25px 0 rgba(0, 0, 0, 0.1);
	animation: swim 3s infinite;
}

@keyframes swim {
	50% {
		transform: translateY(1em) scaleY(1);
	}
}

.loader .egg:before {
	content: "";
	position: absolute;
	height: 14px;
	width: 14px;
	background-color: #010008;
	border-radius: 50%;
	top: 180px;
	right: 88px;
	box-shadow: -40px 0 0 #010008,
		10px 15px 0 -2px #f5750f,
		-50px 15px 0 -2px #f5750f,
		-20px 0 0 50px #f5d201;
}

.loader .egg:after {
	content: "";
	position: absolute;
	height: 15px;
	width: 25px;
	top: 200px;
	left: 102px;
	border-radius: 5px 5px 15px 15px;
	border: 3px solid #010008;
	background: radial-gradient(at 50% 100%,
			#f5750f 8px,
			#010008 8px);
}

.loader .loading-text {
	margin-top: 20px;
	color: #ffffff;
	font-size: 24px;
	font-family: Arial, sans-serif;
}
